@import url(https://fonts.googleapis.com/css?family=Orbitron:400,900,700,500|Crete+Round);
@import url('fonts/3Dumb.tff');
@import url('fonts/2Dumb.tff');

body
{

    background-color: #f3f3f3;
}

#wrapper
{
    background-color: white;
    padding: 1em;
    min-height: 100vh;
}

#main
{
    padding: 0 1em;
}

.container
{
    max-width: 720px;
}

h1
{
    font-weight: bold;
    font-family: '3Dumb', sans-serif;
    font-size: 200%;
}

h2
{
    font-weight: bold;
    /*font-size: 280%;*/
}


/* nav bar stuff */
.navbar-default
{
    border-style: none;
    background-color: white;
    margin: 0;
    padding: 1em;
}

.navbar-default .navbar-nav > li > a {
    font-size: 130%;
    font-family: 'Oribitron', sans-serif;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover
{
    text-decoration: underline;
    color: black;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover
{
    background-color: transparent;
    font-weight: bold;
    text-decoration: underline;
    color: black;
}




section#main p, section#main li
{
    font-family: 'Crete Round', serif;
}

section#main p
{
    hyphens: auto;
    text-align: justify;
}
/*
section#main
{
    border-style: none;
}
*/


/* --------------------------------> home page stuff */
#home .page-header
{
    display: none;
}

#home section#main
{
    background: white;
    border-style: none;
    padding-top: 4em;
}

#home h2
{
    font-family: 'Orbitron', sans-serif;
    font-weight: 900;
    font-size: 300%;
}
