@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  src: local('Orbitron-Light'), local('Orbitron-Regular'), url(https://fonts.gstatic.com/s/orbitron/v7/HmnHiRzvcnQr8CjBje6GQvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
}

@font-face {
    font-family: Dumb3D;
    src: url('/css/fonts/3Dumb.ttf');
}

body
{

    background-color: #f3f3f3;
    padding-bottom: 70px;
}


#top-header
{
    min-height: 100px;
}

#wrapper
{
    background-color: white;
    padding: 1em;
    min-height: 100vh;
}

#main
{
    padding: 0 1em;
}

.container
{
    max-width: 720px;
    padding-left: 0;
    padding-right: 0;
    
}
#contentinfo
{
    background-color: #f3f3f3;
    border-top: 1px solid gray;
    padding: 1em 0;
    font-size: 90%;
}

#contentinfo .container
{
    margin-left: auto;
    margin-right: auto;
    padding: 0 1em;
}

h1
{
    font-weight: 400;
    font-family: 'Dumb3D', sans-serif;
    font-size: 200%;
}

h2
{
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
    font-size: 130%;
}

.no-margin-top { margin-top: 0;}
.no-margin-bottom { margin-bottom: 0;}
.no-margin { margin: 0;}


/* nav bar stuff */
.navbar-default
{
    border-style: none;
    background-color: white;
    margin: 0;
}

.navbar-default .navbar-nav > li > a {
    font-size: 130%;
    font-family: 'Orbitron', sans-serif;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover
{
    text-decoration: underline;
    color: black;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover
{
    background-color: transparent;
    font-weight: bold;
    text-decoration: underline;
    color: black;
}

img.pull-right
{
    margin-left: 1em;
}
img.pull-left
{
    margin-right: 1em;
}

section#main p, section#main li
{
    font-family: 'Crete Round', serif;
}

section#main p
{
    hyphens: auto;
    text-align: justify;
}
/*
section#main
{
    border-style: none;
}
*/


/* --------------------------------> home page stuff */
#home .page-header
{
    display: none;
}
