{% extends "base.html" %}
{% block archclass %} class="active"{%endblock%}
{% block title %}Blog Posts{%endblock%}


{% block content_title %}
<header class="page-header">
    <h1>CodeClub.News</h1>
</header>
{%endblock%}

{% block content %}
<dl>
    {% for year, date_year in dates|groupby( 'date.year' )|sort(reverse=True) %}  
        <h3>Posts from {{ year }}</h3>
        <ul class="archive-list list-unstyled">
        {% for article in date_year %}
            <li>
                <h4><a href="{{ SITEURL }}/{{ article.url }}">{{article.title}}</a></h4>
                <span class="text-muted">{{article.locale_date}} by {{article.author}}</span>
                <p>{{article.summary}}</p>
            </li>
        {% endfor %}
        </ul>
    {% endfor %}
</dl>
{% endblock %}
