{% extends "page.html" %}

{% block content %}
    {{page.content}}

    {%
        set roster = [('5hgg', '8341934'), ('CarloFlores', '14367672'), ('DavidCase', '14358120'), ('Eziomiles07', 'foo'), ('TARDISkid', 'foo'), ('dryc', '6060022'), ('fjyc', '13543288'), ('jhall10','14372187'), ('natekdog', 'foo'), ('nicolasrw15', '7583582'), ('nikaboomgoesthebomb', '10251044'), ('niko2205', '10800850'), ('xandyrim', '14378887'),('cormacok', '14371636'), ('Emf2006', '14372420'), ('H3nrySkywalker', '14364975'), ('smartdude68', '14392764'), ('tycoding9', '14392750'), ('Eziomiles07', '14381621')
        ,('Indigoella','14372154'),('Anneliese06','14415222'),('jsphn','14378551'),('lulumaeryan','14369897'),('nassiaiscute','14457766'),('thcoding9','14496363')]
    %}



    {% set instructors = [('loretod', '2452243'), ('mcuringa', '2602858'), ('anonther','foo')] %}

    <h2>the students</h2>
    <div class="row">
        {% for user, img in roster|sort %}
            <div class="col-xs-6 col-md-3">
                <div class="thumbnail text-center">
                    <a href="https://scratch.mit.edu/users/{{user}}/"><img alt="{{user}}'s profile pic"
                       src="https://cdn2.scratch.mit.edu/get_image/user/{{img}}_60x60.png"></a>
                    <caption><strong><a href="https://scratch.mit.edu/users/{{user}}/">{{user}}</a></strong></caption>
                </div>
            </div>
        {% endfor %}
    </div>

    <h2>the instructors</h2>
    <div class="row">
        {% for user, img in instructors %}
            <div class="col-xs-6 col-md-3">
                <div class="thumbnail text-center">
                    <a href="https://scratch.mit.edu/users/{{user}}/"><img alt="{{user}}'s profile pic"
                       src="https://cdn2.scratch.mit.edu/get_image/user/{{img}}_60x60.png"></a>
                    <caption><strong><a href="https://scratch.mit.edu/users/{{user}}/">{{user}}</a></strong></caption>
                </div>
            </div>
        {% endfor %}
    </div>


{% endblock %}
