{% extends "page.html" %}

{% block content %}
    {{page.content}}

    {% set roster = [('dryc', '6060022'), ('fjyc','foo'), ('mcuringa', '2602858'),  ('loretod', '2452243')] %}
    
    <div class="row">
        {% for user, img in roster %}
            <div class="col-xs-6 col-md-3">
                <div class="thumbnail text-center">
                    <a href="https://scratch.mit.edu/users/{{user}}/"><img alt="{{user}}'s profile pic"
                       src="https://cdn2.scratch.mit.edu/get_image/user/{{img}}_80x80.png"></a>
                    <caption><strong><a href="https://scratch.mit.edu/users/{{user}}/">{{user}}</a></strong></caption>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
